name: FreeBSD

on:
  workflow_dispatch:
    inputs:
      release:
        type: string
        required: true
      tags:
        type: choice
        required: true
        options:
          - version
          - major
          - latest

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup FreeBSD VM
        uses: cynix/freebsd-firecracker-action@v0.8.0-containers

      - name: Build
        shell: bash
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_REPOSITORY_OWNER: ${{ github.repository_owner }}
          GITHUB_REF: ${{ github.ref }}
          GITHUB_TOKEN: ${{ github.token }}
          INPUT_RELEASE: ${{ inputs.release }}
          INPUT_TAGS: ${{ inputs.tags }}
        run: |
          scp build.sh firecracker:
          ssh firecracker env \
            GITHUB_ACTOR="'$GITHUB_ACTOR'" \
            GITHUB_REPOSITORY_OWNER="'$GITHUB_REPOSITORY_OWNER'" \
            GITHUB_REF="'$GITHUB_REF'" \
            GITHUB_TOKEN="'$GITHUB_TOKEN'" \
            INPUT_RELEASE="'$INPUT_RELEASE'" \
            INPUT_TAGS="'$INPUT_TAGS'" \
            ./build.sh
